.stock {


    width: 80vw;
    height: 100vh;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
    position: absolute;
    top: 1vh;
    background-color: none;
    width: 78vw;
    right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input {

    border: black solid 3px;


}

.input:focus {
    border-color: rgb(39, 102, 99);
}

.table-btn {
    border: solid black 2px;
    background: none;
    margin: .25vw;

}


.search-input {


    border: solid black 2px;

    background-color: none;



}

.search-input:focus {
    border-color: rgb(39, 102, 99);
}

.add-stock {


    justify-content: center;
    display: flex;
    flex-direction: row;

}

.add-item-btn {

    width: fit-content;
    width: 5vw;
    height: 5vw;
    background-color: rgb(75, 122, 128);
    border: solid black 5px;
    justify-content: center;
    padding: 10px;
    margin: 2px;

}

.add-item-btn:hover {
    width: 5.1vw;
    height: 5.1vw;
    background-color: rgb(57, 134, 150);
    border: solid rgb(26, 24, 24) 4px;

}

.add-img {

    width: 30px;
}

.refresh-btn {
    width: 5vw;
    height: 5vw;
    background-color: #268864;
    border: solid black 5px;
    justify-content: center;
    padding: 10px;
    margin: 2px;


}

.refresh-btn:hover {
    width: 5.1vw;
    height: 5.1vw;
    background-color: rgb(72, 156, 114);
    border: solid rgb(26, 24, 24) 4px;

}

.refresh {
    width: 3vw
}

.export-btn {
    width: 5vw;
    height: 5vw;
    background-color: #86a097;
    border: solid black 5px;
    justify-content: center;
    padding: 10px;
    margin: 2px;
}

.export-btn:hover {
    width: 5.1vw;
    height: 5.1vw;
    background-color: rgb(232, 255, 243);
    border: solid rgb(26, 24, 24) 4px;

}

.grid {
    background: none;
    width: 70vw;
    background-color: none;
    position: absolute;
    top: 35vh;
    right: 1vw;





}






.export-link {
    position: fixed;
    right: 75px;
    top: 210px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 30px;
    background: rgb(75, 128, 75);
    border: solid black 5px;
    border-radius: 10px;
    justify-content: center;
    padding: 7px;
    z-index: 900;
}

.export-link:hover {
    width: 102px;
    height: 33px;
    background-color: rgb(72, 156, 114);
    border: solid rgb(26, 24, 24) 4px;

    text-decoration: none;


}

.filter-component {

    background: rgb(0, 0, 0);
    width: 100%;
    margin-top: 2vh;



}

.edit {
    background-color: none;
    border: none;
}

.edit:hover {
    background-color: rgb(59, 139, 143);
}

.delete {
    background-color: none;
    border: none;
}

.delete:hover {
    background-color: rgb(255, 75, 75);
}

.btns-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}