.item-pop {
    width: 450px;
    height: 384px;
    /* 50vh */
    padding-bottom: 50px;
    position: fixed;
    left: 320px;
    /* 40vw */
    top: 115px;
    /* 15vh */
    background: rgb(156, 170, 174);
    border: solid black 5px;
    z-index: 1000;
}

.cancel-item-pop {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
    border: solid black 5px;
    background-color: rgb(216, 44, 44);
    border-radius: 50%;
}

.cancel-icon {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

.item-pop {
    padding: 50px;
    width: 410px;
    /* 30vw */
    height: 307px;
    /* 40vh */
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.item-pop-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.item-pop-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    input {
        width: 70px;
        margin: 20px;
    }
}

.item-pop-btn {
    border: solid black 2px;
    background-color: #307c5b;
    margin: 3px;
    width: 100%;
    max-width: 100%;
}

.item-pop-img {
    width: 100px;
}