.dashboard {
    background: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.accounts {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.add-acc-btn {

    min-height: 6vh;
    margin: 2vw;
    background-color: rgb(75, 128, 75);
    border: solid black 5px;


}

.add-img-1 {
    width: 3vw;
}

.charts {
    max-width: 75vw;
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 70vh;
}