.add-bill {

    display: flex;
    flex-direction: column;
    width: 80vw;
    /* 74vw */
    height: 99vh;

    /* 99vh */
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    margin: 0;
}

.add-bill-sections {
    background: none;
    display: flex;
    flex-direction: row;
    width: 80vw;
    background: none;

    /* 74vw */
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.new-bill-section {
    height: 88vh;
    /* 83vh */
    width: 54vw;


    border-right: dashed 5px rgb(218, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;
}

.old-bills-section {
    background: none;
    position: relative;
    display: flex;
    flex-direction: column;

    height: 88vh;

    width: 25vw;
    /* 98vh */
    overflow-y: none;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;

}

.right-section-header {
    background: black;
    position: relative;
    border: black solid 3px;
    height: 15vh;
    /* 20vh */
    width: 24.5vw;
    /* 22vw */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



}

.section-header {
    background: white;
    border: #235945 solid 4px;
    height: auto;
    width: 44vw;
    /* 43.9vw */
    margin: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    ul {
        z-index: 100000;
        height: auto;
        position: absolute;
        background: #9ad6c3;
        width: 42vw;

    }
}

.new-bill-space {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* 50vw */
    width: 55vw;
    /* 50vw */
    height: 100vh;
    /* 75vh */
    background: none;
    box-sizing: border-box;
}

.bill-data-box {
    background: black;
    width: 50vw;
    position: relative;
    left: 0;
    /* 48vw */
    justify-content: center;
    align-items: center;
    margin: 0;

    h4 {
        color: white;
    }
}


.open-save-bill-btn {

    width: 3.9vw;
    min-height: 3.9vw;
    max-height: 3.9vw;
    background-color: #235945;
    border: solid #1E1E20 2px;
    border-radius: 5px;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 10px;

    z-index: 1000;

    :hover {
        background-color: #347b61;
        border: solid #144b30 3px;

    }


}

.bill-save-add-plus {

    width: 45px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;

}

.old-bills-space {
    background: none;
    width: 24vw;

    height: 88%;
    max-height: 90%;

    overflow-x: none;
}

.bill-items-table {
    background: white;
    position: absolute;
    top: 0;


    margin-top: 10px;
    width: 50vw;
    /* 48vw */
    height: 400px;
    overflow-y: scroll;

    table {
        width: 49vw;
        overflow-y: auto;
        background: none;

        th {
            background-color: #b1b1b1;
        }

        td {
            max-width: 150px;
        }
    }
}

.del-row {
    box-shadow: none;
}

.bills-roll {
    overflow-y: scroll;
    background: none;
    height: 81vh;
    width: 24vw;
    margin-left: 8px;
}



.total-cell {
    border: dotted #DD3522 2px;
    font-weight: 500;
}

.arrange-btn {
    width: 3.7vw;
    min-height: 3.9vw;
    max-height: 3.9vw;
    position: relative;
    border: solid black 5px;
    background-color: #235945;
    border-radius: 5px;
    margin: 1px;
}

.arrange-btn:hover {
    width: 3.7vw;
    min-height: 3.9vw;
    max-height: 3.9vw;
    background-color: #2e755b;
    border: solid rgb(26, 24, 24) 4px;
}

.del-anon-btn {
    width: 3.7vw;
    min-height: 3.9vw;
    max-height: 3.9vw;
    position: relative;
    border: solid black 5px;
    background-color: #82b0b0;
    border-radius: 5px;
    margin: 1px;
}

.del-anon-btn:hover {
    width: 3.7vw;
    min-height: 3.9vw;
    max-height: 3.9vw;
    background-color: #2e7475;
    border: solid rgb(26, 24, 24) 4px;
}