.add-bill {

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 260px;
    top: 0;
    min-width: 800;
    width: 800;
    /* 74vw */
    height: 753px;
    background: none;
    /* 99vh */
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    margin: 0;
}

.add-bill-sections {
    background: none;
    display: flex;
    flex-direction: row;
    width: 850px;

    /* 74vw */
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.new-bill-section {
    height: 635px;
    /* 83vh */
    width: 500px;
    background-color: #9ad6c3;
    margin-top: 20px;
    border-right: dashed 5px rgb(218, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;
}

.old-bills-section {
    background: none;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 748px;
    min-width: 300px;
    width: 300px;
    /* 98vh */
    overflow-y: none;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;

}

.right-section-header {
    background: black;
    position: relative;
    border: black solid 3px;
    height: 154px;
    /* 20vh */
    width: 290px;
    /* 22vw */
    display: flex;
    flex-direction: row;
    align-items: center;



}

.section-header {
    background: white;
    border: #235945 solid 4px;
    height: auto;
    width: 400px;
    /* 43.9vw */
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    ul {
        z-index: 100000;
        height: auto;
        position: absolute;
        background: #9ad6c3;
        width: 400px;

    }
}

.new-bill-space {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* 50vw */
    width: 300px;
    /* 50vw */
    height: 810px;
    /* 75vh */
    background: none;
    box-sizing: border-box;
}

.bill-data-box {
    background: black;
    width: 500px;
    position: relative;
    left: 0;
    /* 48vw */
    justify-content: center;
    align-items: center;
    margin: 0;

    h4 {
        color: white;
    }
}


.open-save-bill-btn {

    width: 55px;
    height: 55px;
    background-color: #235945;
    border: solid #1E1E20 2px;
    border-radius: 5px;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 10px;

    z-index: 1000;

    :hover {
        background-color: #347b61;
        border: solid #144b30 3px;

    }


}

.bill-save-add-plus {

    width: 45px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;

}

.old-bills-space {
    background: none;
    width: 300px;

    height: 88%;
    max-height: 90%;

    overflow-x: none;
}

.bill-items-table {
    background: white;
    position: absolute;
    top: 0;


    margin-top: 10px;
    width: 500px;
    /* 48vw */
    height: 400px;
    overflow-y: scroll;

    table {
        width: 490px;
        overflow-y: auto;
        background: none;

        th {
            background-color: #b1b1b1;
        }

        td {
            max-width: 150px;
        }
    }
}

.del-row {
    box-shadow: none;
}

.bills-roll {
    overflow-y: scroll;
    background: none;
    height: 450px;
    width: 255px;
    margin-left: 8px;
}

.total-div {
    border-top: dotted black;
    background: white;
    z-index: 10000;
    width: 721.6px;
    /* 48vw */
    height: 60px;

    th {
        background-color: #b1b1b1;
    }
}

.total-cell {
    border: dotted #DD3522 2px;
    font-weight: 500;
}

.filter-bills {
    width: 190px
}

.arrange-btn {
    width: 40px;
    height: 40px;
    background-color: #235945;
}