.item-bill-pop {
    width: 35vw;
    /* 35vw */
    height: 55vh;
    /* 57vh */
    position: fixed;
    left: 32vw;
    /* 35vw */
    top: 23vh;
    /* 15vh */
    background: #d4dbd8;
    border: 5px solid black;
    border-radius: 35px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: space-around;
}

.cancel-item-bill-pop {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: solid black 5px;
    background-color: rgb(216, 44, 44);
    border-radius: 50%;
}


.item-bill-pop-img {
    width: 14vw;
    max-height: 14vw;
    background-color: aliceblue;
    margin-left: 40px;
    margin-top: 31px;
    /* 4vh */
    border: solid black px;
}

.item-bill-pop-header {
    display: flex;
    flex-direction: row;
    background: none;
    justify-content: space-around;

}

.item-bill-pop-p {
    display: flex;
    flex-direction: row;
    background: none;
    justify-content: space-around;
}

.add-item-bill-btn {
    position: relative;
    top: 0;
    left: 0;
    width: 7vw;
    height: 7vw;
    background-color: #235945;
    border: solid black 5px;

}

.add-plus {
    width: 4vw;
}