.bill-card {
    width: 20vw;
    height: 20vh;
    overflow: hidden;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #DACCA0;
    margin: 1vh;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 10vh;
    /* 10% of 600px */
}

.card-img {
    background: none;
    margin: 0;
    padding: 0;
    width: 5vw;
    /* 5% of 800px */
    object-fit: cover;
}

.bill-card-p {
    background: none;
    max-height: 7vh;
    /* 5% of 600px */
    margin: 2vh;
    width: 13vw;
    /* 90% of 800px */
    object-fit: cover;
    font: black;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}